* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-size {
  font-size: 13px;
}

.show-con {
  width: 30px;
}

a {
  color: black !important;
}

.menulist ul li a:hover {
  background-color: #9e6b22;
  color: white !important;
}
@media screen and (max-width:520px) {
.menulist ul li {
  width: 100%;
}
.a{
  margin-left: 0;
}

  
}

.btn-menubutton{
top:-100px;
right: 0;
}
/* Ensure the dropdown menus are hidden by default */
.dropdown-menu {
  display: none;
}

/* Show the dropdown menu on hover */
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}

/* Position the nested dropdowns */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}


.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu{
  background-color:#f3b45b;;
}
.img-txt{
  width: 100%;
  clear: left;
}

.content-box {
  width: 100%;
}

@media (min-width: 992px) {
  .content-box {
      width: 30%;
  }
}
.phototabs .active{
background-color: rgb(75, 16, 238) !important;
color: white !important;
}
.wc li:hover{
  border-bottom:1px solid white ;
}
.innerBanner img {
    height: 125px;
    object-fit: cover;
    width: 100%;
}